{deps, [
    {esums, "1.*", {git, "git://github.com/sa2ajj/esums.git", {branch, "master"}}}
]}.

{erl_opts, [
    {d, 'VERSION', "0.0.0"},
    warnings_as_errors
]}.

{port_specs, [
    {"priv/ecrepo_lib_nif.so", ["c_src/*.c"]}
]}.

{port_env, [
    {"CCFLAGS", "$CCFLAGS -Wall"},
    {"LDFLAGS", "$LDFLAGS -lrpm -lrpmio"}
]}.

% vim: ft=erlang
